<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Step1.Leafletで地理院地図を表示する最も基本的なコード|Lefletの基本|埼玉大学谷謙二研究室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

 
    <style>
      div#footer{
        border-top: 3px double
      }
/   }
    </style> 

    <script>
        var markerList = [
          { pos: [35.8645472, 139.6048663], name: "セブンイレブン浦和埼玉大学店" },
          { pos: [35.8689857, 139.6086909], name: "セブンイレブンさいたま大久保店" },
          { pos: [35.871305, 139.6128431], name: "ファミリーマート浦和上大久保店" },
          { pos: [35.8665389, 139.6133905], name: "ミニストップさいたま上大久保店" },
          { pos: [35.8650306, 139.6070633], name: "ローソン埼玉大学店" }
        ];
      function init() {
        var map = L.map('mapcontainer');
        L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
          attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);
        //マーカー全体が入るボックスを作る
        var bound = L.latLngBounds(markerList[0].pos, markerList[0].pos);
        //markerListの設定でマーカーを追加
        for (var num in markerList) {
          var mk = markerList[num];
          var popup = L.popup().setContent(mk.name);
          L.marker(mk.pos, { title: mk.name }).bindPopup(popup).addTo(map);
          //マーカー全体が入るボックスを広げる
          bound.extend(mk.pos);
        }
        //マーカー全体が入るように地図範囲を設定する
        map.fitBounds(bound);
      }
      /* function init() {
        //地図を表示するdiv要素のidを設定
        var map = L.map('mapcontainer');
        //地図の中心とズームレベルを指定
        map.setView([35.1232554,134.8429293], 9);
        //表示するタイルレイヤのURLとAttributionコントロールの記述を設定して、地図に追加する
        L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);
      } */
    </script>
  </head>
  
  <body onload="init()">
    <%# ======== header ======== %>
    <header style="background-color: #f6f6f6; text-align:center;"><div id="header"><h1>地形マニアMap</h1></div></header>
          <%# <div id="header" style="background-color : pink; text-align:center;"><h1>地形マニアMap</h1></div> %>
    
    <%# ======== map ========= %>
    <div id="mapcontainer" style="margin: 10px auto;width:40%;height:500px;" ></div>
    
    <%# ======== footer ========= %>
    <div id="footer" style="border-top: 3px double; text-align:center;">Copyrights(c) 2019 team Mania's, All Rights Reserved.</div>
  </body>

</html>
