<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Step1.Leafletで地理院地図を表示する最も基本的なコード|Lefletの基本|埼玉大学谷謙二研究室</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

<%# 
    <style>
      div#map{
          width: 100%;
          height: 500px;
      }
    </style> %>

    <script>
      function init() {
        //地図を表示するdiv要素のidを設定
        var map = L.map('mapcontainer');
        //地図の中心とズームレベルを指定
        map.setView([35.1232554,134.8429293], 9);
        //表示するタイルレイヤのURLとAttributionコントロールの記述を設定して、地図に追加する
        L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);
      }
    </script>
  </head>
  
  <body onload="init()">
    <div id="mapcontainer" style="width:40%;height:500px" ></div>
  </body>

</html>
